.Header {
  background-color: #8757df;
  width: 20%;
}
.Header img {
  width: 30%;
  border-radius: 10%;
}
.userBlk {
  display: flex;
  margin: 0 3rem 2rem;
}
.userBlk p {
  width: 50%;
  margin-left: 15px;
  color: #c3abef;
  transition: 0.7s;
}
.userBlk :active {
  color: #fefe;
}
.userBlk :hover {
  color: #e5dff7;
}
a {
  text-decoration: none;
}
.loginBtn {
  margin: 1rem 3rem 2rem;
}
